{% load static %}
<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    {# <link type="text/css" href = "{% static 'super.css' %}" rel="stylesheet">#}
    <link type="text/css" href = "{% static 'page/static/main.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock %} :: newspaper  </title>
    </head>
<body>
<div id="header">
    <h1>
        <a href = "{% url 'page_app:index' %}">OUR BELOWED NEWSPAPER</a>
    </h1>
</div>
<div id="content">

  <div id="leftmenu">
    <ul>
    <h3>All we have:</h3>
    <h3>Reporters:</h3>
    {% for item in all_list.0 %}
         <li><b><a href = '/page/reporters/{{ item.id }}/'>{{ item.full_name }} </a></b></li>
    {% endfor %}
          <li><b><a href = '{% url "page_app:reporter_add" %}'>add new reporter</a></b></li>
    <h3>Articles:</h3>
    {% for item in all_list.1 %}
         <li><b><a href = '/page/articles/{{ item.id }}/'>{{ item.headline }} </a></b></li>
    {% endfor %}
    <h3>Persons:</h3>
    {% for item in all_list.2 %}
         <li><b><a href = '/page/persons/{{ item.id }}/'>{{ item.name }} </a></b></li>
    {% endfor %}
     </ul>
  </div>

  <div id = "main">
    {% block main %}
    {% endblock %}
  </div>

</div>

<div id="footer">
    <i>made in webdesign studio</i>
</div>

</body>
</html>