{% extends "base.html" %}
{% block title %}{{out_list.0.full_name}}{% endblock %}
{% block main %}
    <ul><h3>Reporter:</h3>
    <li><h3><b>{{ reporter.full_name }}</b></h3>
    <li>height: {{ reporter.height }}
    <li>weight: {{ reporter.weight }}
    <li>wage: {{ reporter.wage }}
    </ul>
    {% for item in out_list %}

        {% if forloop.first %}
            <ul><h3>Articles:</h3>
        {% endif %}


                       <li>Article headline: <a href = "/page/articles/{{ item.id }}/"><i>{{item.headline}}</i></a><br>
                       <li>Article publication date: <i>{{item.pub_date}}</i><p>


        {% if forloop.last %}
           </ul>
        {% endif %}

    {% endfor %}

  <ul><a href = '/page/reporters/'><h4>All reporters</h4></a></ul>
 <ul> <a href = "{% url 'page_app:reporter_update' reporter.id %}"><i>Update</i></a></ul>
 <ul> <a href = "{% url 'page_app:reporter_delete' reporter.id %}"><i>Delete</i></a></ul>
{% endblock %}





